<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jason.smokejourney.sync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSHomeKitUsageDescription</key>
	<string>SmokeJourney needs access to HomeKit to integrate your humidor sensors with your smart home.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take photos of your cigars</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access to add photos of your cigars</string>
</dict>
</plist>
